<p>Messages</p>
<hr>

<div class="container">
  <div class="row" *ngFor="let message of messages" class="border">
    <div class="col-md-7">
      <p>{{ message.body }}</p>
    </div>
    <div class="col-md-3">
      <p style="font-size: 0.7em;">from: <strong>{{ message.de }}</strong></p>
    </div>
  </div>
</div>

<form (ngSubmit)="sendMessage()">
  <input 
    type="text" 
    autocomplete="off" 
    class="form-control" 
    placeholder="Ingrese un mensaje" 
    name="text"
    [(ngModel)]="text">
</form>